/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
 	background-color: #f9f9f7;
 }

.clear {
	clear: both;
}

.pull-left {
 	float: left;
 }

.pull-right {
 	float: right;
}

.tag {
 	background-color: #8DBB7D;
}

.label {
	font-size: 90%;
}

.bolder {
	font-weight: bolder;
}

.fSize17 {
	font-size: 1.7rem;
}

/* navbar 全体の背景色とボーダーカラー */
.navbar-inverse {
background-color: #8DBB7D;
border-color: #3e6962;
}
/* navbar テキストカラー */
.navbar-inverse .navbar-nav > li > a {
color: #ffffff;
}
/* navbar hover,focus時のテキストカラー */
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
color: #26534c;
background-color: transparent;
}
/* navbar active設定時のカラー */
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
color: #26534c;
background-color: #c3ede7;
}
/* navbar ドロップダウン(親)のカラー */
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
color: #3e6962;
background-color: #AAE096;
}
/* navbar ドロップダウン(子)のボックスカラー */
.dropdown-menu {
background-color: #ffffff;
border: 1px solid #3e6962;
border: 1px solid #3e6962(0, 0, 0, .15);
-webkit-box-shadow: 0 6px 12px rgba(94, 136, 129, 0.35);
box-shadow: 0 6px 12px rgba(94, 136, 129, 0.35);
}
/* navbar ドロップダウン(子)テキストカラー */
.dropdown-menu>li>a {
color: #000000;
}
/* navbar ドロップダウン(子)focus,hover時のカラー */
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
color: #26534c;
background-color: #c3ede7;
}
/* navbar ドロップダウン(子)内の区切り線(class=”divider”)のカラー */
.dropdown-menu .divider {
background-color: #3e6962;
}
/* navbar 画面サイズ767px以下の時のカラー */
@media (max-width:767px) {
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
color: #ffffff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus,
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
color: #26534c;
background-color: transparent;
}
/* ドロップダウンactive設定時のカラー */
.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a,
.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus,
.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover {
color: #ffb163;
background-color: #d4ede9;
}
}
/* navbar ハンバーガー四角枠 */
.navbar-inverse .navbar-toggle {
border-color: #ffffff;
}
/* navbar ハンバーガー三本線 */
.navbar-inverse .navbar-toggle .icon-bar {
background-color: #ffffff;
}
/* navbar ハンバーガーボタン,タップとホバーした時の背景色 */
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
background-color: #ffffff;
}
/* navbar ハンバーガーボタン,タップとホバーした時の四角枠 */
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
border-color: #65baad;
}
/* navbar ハンバーガーボタン,タップとホバーした時の三本線 */
.navbar-inverse .navbar-toggle:focus > .icon-bar,
.navbar-inverse .navbar-toggle:hover > .icon-bar {
background-color: #65baad;
}
/* navbar Brandのカラー */
.navbar-inverse .navbar-brand {
color: #ffffff;
}
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover {
color: #ffffff;
background-color: transparent;
}

.btn-primary {
  color: #fff;
  background-color: #AAE096;
  border-color: #3e6962;
}

.dropdown-menu {
  min-width: 0px;
}

#main {
	padding: 20px;
	border-top: 5px solid #8DBB7D;
	background-color: white;
}

.balloon {
  padding: 8px;
  background-color: #fff;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  position: relative;
}
